<div class="grid md:grid-cols-12 grid-cols-1 items-center gap-6">
    <div class="lg:col-span-5 md:col-span-6 md:order-2 order-1">
        <div class="pt-6 px-6 rounded-2xl bg-red-500/5 dark:bg-red-500/10 shadow shadow-red-500/20">
            <img [src]="'assets/images/phone/half-2.png'" alt="">
        </div>
    </div><!--end grid-->

    <div class="lg:col-span-7 md:col-span-6 md:order-1 order-2">
        <div class="lg:me-10">
            <h6 class="text-red-500 uppercase text-sm font-bold tracking-wider mb-3">GÖÇBİL MOBİL</h6>
            <h4 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-bold">Neler Yapabilirsin ? </h4>
            <!-- <p class="text-slate-400 max-w-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
                dignissimos..</p> -->

            <ul class="list-none text-slate-400 mt-6">
                <li class="mb-2 flex"><i class="mdi mdi-check text-red-500 text-xl me-2"></i>
                    <div>
                        <p class="text"><span class="title">Bildirim Yükümlülüğü : </span> GöçBil mobil
                            uygulamasında yer alan “Bildirim Yükümlülüğü Modülü” ile; bildirim yükümlülüğüne tabii
                            yabancıların
                            İl Göç İdaresi Müdürlüklerine gitmesine gerek kalmaksızın yüz tanıma, konum tespiti ile
                            GöçBil
                            Mobil
                            Uygulaması üzerinden bildirim yükümlülüğünü yerine getirebilmektedir.</p>
                    </div>

                </li>
                <li class="mb-2 flex ms-0"><i class="mdi mdi-check text-red-500 text-xl me-2"></i>
                    <div>
                        <p class="text"><span class="title">Randevu İşlemleri : </span> Geçici koruma, Uluslararası
                            Koruma başvuru ve statü sahiplerinin web üzerinden gerçekleştirilen
                            randevu başvurusunu GöçBil mobil uygulama üzerinden de gerçekleştirebilmekte ve
                            randevularını takip
                            edebilmektedir.</p>
                    </div>
                </li>
                <li class="mb-2 flex ms-0"><i class="mdi mdi-check text-red-500 text-xl me-2"></i>
                    <div>
                        <p class="text"><span class="title">Yol İzin Belgesi İşlemleri : </span> Bu hizmeti kullanarak,
                            Göç İdaresi Genel Müdürlüğünden, kayıtlı oldukları ilden başka
                            bir kente gitmek isteyen yabancıların, İl Göç İdaresi Müdürlüğüne gitmeden başvuru
                            işlemlerinin
                            yapıldığı ve sonucunun takip edildiği modüldür.</p>
                    </div>
                </li>
                <li class="mb-2 flex ms-0"><i class="mdi mdi-check text-red-500 text-xl me-2"></i>

                    <div>
                        <p class="text"><span class="title">Evlenme Ehliyet Belgesi İşlemleri : </span> Türkiye'de
                            evlenme talebinde bulunan uluslararası koruma ve geçici koruma kapsamındaki
                            yabancıların başvurularının alındığı ve sonucunun takip edildiği modüldür.</p>
                    </div>
                </li>
                <li class="mb-2 flex ms-0"><i class="mdi mdi-check text-red-500 text-xl me-2"></i>

                    <div>
                        <p class="text"><span class="title">Tanıtım Kartı : </span>Yanında pasaportu veya kimliği
                            olmayan yabancılar için Kolluk Kuvvetleri tarafından QR kod ile sorgulamanın yapılabileceği
                            Tanıtım Kimlik Kartı hazırlanmıştır. </p>
                    </div>
                </li>
                <li class="mb-2 flex ms-0"><i class="mdi mdi-check text-red-500 text-xl me-2"></i>

                    <div>
                        <p class="text"><span class="title">Gönüllü Geri Dönüş : </span>Geçici koruma statü/başvuru
                            sahibi yabancılar «gönüllü geri dönüş» taleplerini GöçBil üzerinden yapabilecektir. <br>
                            Geçici koruma statü/başvuru sahibi yabancılar dışında «gönüllü geri dönüş» talebi olan
                            yabancılar da GöçBil üzerinden talepte bulunabilecektir.</p>
                    </div>
                </li>
            </ul>


        </div>
    </div>
</div><!--end grid-->